/ejemplo_polimorfismo/Polimorfismo/nbproject/
/ejemplo_polimorfismo/Polimorfismo/.ropeproject/
/ejemplo_polimorfismo/Persona/.ropeproject/
/ejemplo_polimorfismo/Persona/nbproject/
/ejemplo_polimorfismo/class PasajeUrbano(ABC)/.ropeproject/
/ejemplo_polimorfismo/class PasajeUrbano(ABC)/nbproject/
